Source: subgraph-metaproxy
Section: net 
Priority: optional
Maintainer: David McKinney <mckinney@subgraph.com>
Build-Depends: debhelper (>= 9.0.0), dh-systemd, dh-golang, golang-go, golang-golang-x-net-dev, lintian
Standards-Version: 3.9.8
Homepage: https://www.github.com/subgraph/subgraph_metaproxy/
Vcs-Git: https://github.com/subgraph/subgraph_metaproxy.git

Package: subgraph-metaproxy
Architecture: any
Depends: ${misc:Depends}, ${misc:Built-Using}, ${shlibs:Depends}, golang, adduser, golang-golang-x-net-dev 
Description: Transparent proxy relay for HTTP and SOCKS
 Transparent proxy relay for HTTP and SOCKS. Meant for transparently relaying
 connections through without specific application-level proxy settings.
