#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_GOPKG := github.com/subgraph/subgraph_metaproxy
export DESTDIR := $(CURDIR)/debian/subgraph_metaproxy


%:
	dh $@ --buildsystem=golang --with=golang --with=systemd
